.received-container {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
}

.hidden-section {
  display: none;
}

.received-details {
  font-weight: bold;
}

.invite-actions {
  display: inline-block;
  margin-left: 10px;
}

.invite-actions button {
  margin-right: 5px;
}

.invite-details {
  font-weight: bold;
}

.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 10px;
}

.arrow-icon.open {
  transform: rotate(180deg);
}
